service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    interface android.hardware.health@2.1::IHealth default
    class hal
    disabled
    user root
    group root
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
    seclabel u:r:recovery:s0
